@import "../../_settings.scss";

.fusion-copyright-notice {
	a {
		font-size: 12px;
		text-transform: uppercase;
		letter-spacing: 1.5px;
		font-weight: 300 !important;
		color: #fff;
		text-decoration: none;

		span {
			text-decoration: underline;
		}

		&:hover {
			text-decoration: underline;
		}
	}
}